.guarantees {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.g-item {
    @include lg(margin, 3rem 0 0 0);
    overflow: hidden;
    margin: 1.5rem 0 0 0;
    padding: 2rem 0 0 0;
    border-radius: 5px;
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, .2);
    &-title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: rem(60);
        svg {
            width: 50px;
            height: 50px;
        }
    }
    &-text {
        margin: 2rem 0 0 0;
        padding: 1rem 0;
        font-size: rem(15);
        font-weight: 500;
        background-color: #f0f5f5;
        text-transform: uppercase;
        text-align: center;
    }
}
